parcellite
network-manager-gnome
compton
dunst
redshift
x11-xserver-utils
ffmpeg
xbacklight
gsimplecal
htop
fzf
cscope
exuberant-ctags
dict
dictd
suckless-tools
rxvt-unicode
j4-dmenu-desktop
libnotify-bin
emacs
vim
vim-gtk
xclip
fd-find
git
feh
perl
screenkey
scrot
i3lock
xserver-xorg-input-synaptics
xdotool
at
figlet
pdftk
plocate
screenfetch
neofetch
alsa-tools
tree
arandr
ncal
pdfgrep
pandoc
xfce4-terminal
